html {
    font-size: 16px;
} 

* {
    font-family: Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

h1 {
    font-size: 3rem;
    color: #ffffff;
    padding: 20px;
    text-align: left;
}

h3 {
    font-size: 1.7rem;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 30px;
}

p {
    font-size: 1.2rem;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
}

a {
    font-size: 1.1rem;
}

.highlight {
    color: #fe81bd;
}

#testimonials {
    font-weight: bold;
    text-decoration: underline;
}

#logo {
    font-size: 2rem;
    color: #fe81bd;
    padding: 1px;
    text-align: left;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #000000;
    padding: 10px 20px;
    height: auto;
    box-sizing: border-box;
}

.navbar-left h2{
    color:#fe81bd;
    margin: 10px;
    padding: 5px;
}

.navbar-center {
    flex-grow: 1;
    text-align: center;
}

.navbar-center ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.navbar-center ul a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

.navbar-center ul a:hover {
    color: #fe81bd;
    transition: all 0.1s ease;
}

.btn {
    font-size: 1.1rem;
    margin: 20px 15px 0px 0px;
    padding: 10px 20px;
    background: #ffffff;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    border: 5px #fe81bd solid;
    border-radius: 5px;
}

.btn:hover {
    border-color: #ffffff;
    background-color: #fe81bd;
    transition: all 0.1s ease;
}

.hamburger {
    display: none;
    color: #ffffff;
    background: #fe81bd;
    padding: 2px 5px;
    font-size: 24px;
    cursor: pointer;
    position: absolute; 
    right: 25px;
    top: 20px;
}

.hamburger:hover {
    background: #ffffff;
    color: #fe81bd;
    transition: all 0.1s ease;
}

.testimonial-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 80vh;
    text-align: left;
}

.testimonial {
    color: #ffffff;
    padding: 20px;
    max-width: 700px;
    border-radius: 20px;
    display: none;
    border: 3px solid #fe81bd;
}

.testimonial.active {
    display: block;
}

.testimonial p strong {
    display: block;
    text-align: center;
}

.arrow {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.arrow button {
    background-color: transparent;
    font-size: 2rem;
    padding: 15px 25px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.arrow button:hover {
    color: #fe81bd;
    transition: all 0.1s ease;
}

@media screen and (max-width: 900px) {
    html {
        font-size: 14px;
    }

    .hamburger {
        display: block;
    }

    .navbar-right {
        display: none;
    }

    .navbar-center ul {
        display: none;
        flex-direction: column;
        background-color: #000000;
        position: absolute;
        top: 70px;
        left: 0;
        padding: 20px 0;
        width: 100%;
        text-align: center;
    }
    .navbar-center ul li {
        padding: 10px 0;
    }
    .navbar-center ul.active {
        display: flex;
    }
}